<div>
  <nav class="navbar navbar-expand-lg  bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
          <a class="nav-link" [class.active]="aba == 'mapa'" (click)="aba = 'mapa'">Mapa</a>
          <a class="nav-link" [class.active]="aba == 'pricing'" (click)="aba = 'pricing'">Pricing</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" [ngSwitch]="aba">
    <p *ngSwitchDefault>Modo Home ativado!</p>
    <p *ngSwitchCase="'mapa'">Modo Mapa ativado!</p>
    <p *ngSwitchCase="'pricing'">Modo Pricing ativado!</p>
  </div>
</div>
